angularjs/main.streams
[{"type":"tab","id":"4f31d9ef.b0ce45","label":"Sheet 1"},{"id":"c47bdc37.3b842","type":"subflow","name":"Subflow 1","in":[{"x":70,"y":70,"wires":[]}],"out":[{"x":458,"y":174,"wires":[]}]},{"id":"87cdc1cd.78324","type":"webserver","name":"","port":"80","websocket":true},{"id":"4db831ce.b247d","type":"web route","name":"","server":"87cdc1cd.78324","route":"/","method":"GET","cors":false,"allow":"","x":183,"y":137,"z":"4f31d9ef.b0ce45","wires":[["ec8dcb9d.137238"]]},{"id":"ec8dcb9d.137238","type":"web response","name":"","error":200,"redirect":"/static/web.html","x":504,"y":209,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"c647ee42.39b81","type":"value","name":"","value":"temperature","publish":true,"initial":"0","x":618,"y":503,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"c5eee32c.3a112","type":"value","name":"","value":"umidity","publish":true,"initial":"0","x":629,"y":561,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"969211e9.696df","type":"value","name":"","value":"barometer","publish":true,"initial":"0","x":602,"y":451,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"8fbdecff.70421","type":"value","name":"","value":"accelerometer","publish":true,"initial":"0","x":596,"y":406,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"1ce924ca.e316db","type":"value","name":"","value":"monoxide","publish":true,"initial":"0","x":595,"y":341,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"c42620cd.3bd9e","type":"receive","name":"","label":"gaz_diana","x":249,"y":339,"z":"4f31d9ef.b0ce45","wires":[["1ce924ca.e316db"]]},{"id":"bed1e8ef.412e18","type":"receive","name":"","label":"accelerometru_diana","x":276,"y":398,"z":"4f31d9ef.b0ce45","wires":[["8fbdecff.70421"]]},{"id":"59c40c87.a63bf4","type":"receive","name":"","label":"presiune_diana","x":295,"y":458,"z":"4f31d9ef.b0ce45","wires":[["969211e9.696df"]]},{"id":"5eb796c5.a14868","type":"receive","name":"","label":"temperatura_diana","x":338,"y":502,"z":"4f31d9ef.b0ce45","wires":[["c647ee42.39b81"]]},{"id":"d554adde.2aab5","type":"receive","name":"","label":"umiditate_diana","x":319,"y":542,"z":"4f31d9ef.b0ce45","wires":[["c5eee32c.3a112"]]},{"id":"bc26851a.43d978","type":"function","name":"","func":"console.log(context.global.temperature);\nconsole.log(context.global.monoxide);\nconsole.log(context.global.umidity);\nconsole.log(context.global.barometer);\nconsole.log(context.global.accelerometer);\n","outputs":1,"noerr":0,"x":481,"y":623,"z":"4f31d9ef.b0ce45","wires":[[]]},{"id":"770499be.88fb68","type":"run","name":"","topic":"","payload":"","payloadType":"date","repeat":"1440","crontab":"","once":false,"x":241,"y":622,"z":"4f31d9ef.b0ce45","wires":[["bc26851a.43d978"]]}]