board1/main_1.streams
[{"type":"tab","id":"4f31d9ef.b0ce45","label":"Sheet 1"},{"id":"8cbc7602.71402","type":"run","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":156,"y":200,"z":"4f31d9ef.b0ce45","wires":[["32c03f85.03b4a8"]]},{"id":"32c03f85.03b4a8","type":"visual","name":"","func":"var new_message;\n\nif (!context.wyliodrin) context.wyliodrin = context.require(\"wyliodrin\");\n\n\nif (!context.lcd_variable) { context.lcd_variable = new context.wyliodrin.LiquidCrystal (32-32)\ncontext.lcd_variable.begin(20, 4); }\n\n\n\nnew_message = ({});\nmsg['payload']='value';\ncontext.lcd_variable.setCursor (1-1, 1-1)\ncontext.lcd_variable.clear()\ncontext.lcd_variable.print (\"\"+'Presiunea este:')\ncontext.lcd_variable.print (\"\"+context[\"global\"]['presiune'])\ncontext.lcd_variable.setCursor (1-1, 2-1)\ncontext.lcd_variable.print (\"\"+'Temperatura este:')\ncontext.lcd_variable.print (\"\"+context[\"global\"]['temperatura'])\ncontext.lcd_variable.setCursor (1-1, 3-1)\ncontext.lcd_variable.print (\"\"+'Monoxid:')\ncontext.lcd_variable.print (\"\"+context[\"global\"]['gaz'])\ncontext.lcd_variable.setCursor (1-1, 4-1)\ncontext.lcd_variable.print (\"\"+'Umiditate normala')\nif ((context[\"global\"]['gaz']) >= 500) {\n  context.lcd_variable.clear()\n  context.lcd_variable.print (\"\"+'   Atentie, pericol      incendiu')\n}\nif ((context[\"global\"]['umiditate']) <= 250) {\n  context.lcd_variable.clear()\n  context.lcd_variable.print (\"\"+'   Atentie, pericol      inundatie')\n}\nif ((context[\"global\"]['temperatura']) >= 32) {\n  context.lcd_variable.clear()\n  context.lcd_variable.print (\"\"+'Atentie, temperatura ridicata')\n}\nif ((context[\"global\"]['presiune']) >= 500000) {\n  context.lcd_variable.clear()\n  context.lcd_variable.print (\"\"+'Atentie,presiune ridicata')\n}\nif ((context[\"global\"]['accelerometru']) < 370 && (context[\"global\"]['accelerometru']) > 379) {\n  context.lcd_variable.clear()\n  context.lcd_variable.print (\"\"+'    Cutremur')\n  context.wyliodrin.delay (1000);\n}\n","xmlvisual":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"init_lcd_i2c\" id=\"1\" inline=\"false\" x=\"96\" y=\"18\"><field name=\"cols\">20</field><field name=\"rows\">4</field><value name=\"i2caddress\"><block type=\"math_number\" id=\"2\"><field name=\"NUM\">32</field></block></value><next><block type=\"variables_set\" id=\"3\" inline=\"true\"><field name=\"VAR\">new message</field><value name=\"VALUE\"><block type=\"visual_new_message\" id=\"4\"></block></value><next><block type=\"visual_msg_set\" id=\"5\" inline=\"true\"><value name=\"payload\"><block type=\"text\" id=\"6\"><field name=\"TEXT\">payload</field></block></value><value name=\"val\"><block type=\"text\" id=\"7\"><field name=\"TEXT\">value</field></block></value><next><block type=\"set_position_lcd\" id=\"8\" inline=\"true\"><value name=\"col\"><block type=\"math_number\" id=\"9\"><field name=\"NUM\">1</field></block></value><value name=\"row\"><block type=\"math_number\" id=\"10\"><field name=\"NUM\">1</field></block></value><next><block type=\"clear_lcd\" id=\"11\"><next><block type=\"print_lcd\" id=\"12\" inline=\"true\"><value name=\"text\"><block type=\"text\" id=\"13\"><field name=\"TEXT\">Presiunea este:</field></block></value><next><block type=\"print_lcd\" id=\"14\" inline=\"true\"><value name=\"text\"><block type=\"json_key\" id=\"15\" inline=\"true\"><value name=\"key\"><block type=\"text\" id=\"16\"><field name=\"TEXT\">presiune</field></block></value><value name=\"JSON\"><block type=\"visual_context\" id=\"17\"><field name=\"val\">global</field></block></value></block></value><next><block type=\"set_position_lcd\" id=\"18\" inline=\"true\"><value name=\"col\"><block type=\"math_number\" id=\"19\"><field name=\"NUM\">1</field></block></value><value name=\"row\"><block type=\"math_number\" id=\"20\"><field name=\"NUM\">2</field></block></value><next><block type=\"print_lcd\" id=\"21\" inline=\"true\"><value name=\"text\"><block type=\"text\" id=\"22\"><field name=\"TEXT\">Temperatura este:</field></block></value><next><block type=\"print_lcd\" id=\"23\" inline=\"true\"><value name=\"text\"><block type=\"json_key\" id=\"24\" inline=\"true\"><value name=\"key\"><block type=\"text\" id=\"25\"><field name=\"TEXT\">temperatura</field></block></value><value name=\"JSON\"><block type=\"visual_context\" id=\"26\"><field name=\"val\">global</field></block></value></block></value><next><block type=\"set_position_lcd\" id=\"27\" inline=\"true\"><value name=\"col\"><block type=\"math_number\" id=\"28\"><field name=\"NUM\">1</field></block></value><value name=\"row\"><block type=\"math_number\" id=\"29\"><field name=\"NUM\">3</field></block></value><next><block type=\"print_lcd\" id=\"30\" inline=\"true\"><value name=\"text\"><block type=\"text\" id=\"31\"><field name=\"TEXT\">Monoxid:</field></block></value><next><block type=\"print_lcd\" id=\"32\" inline=\"true\"><value name=\"text\"><block type=\"json_key\" id=\"33\" inline=\"true\"><value name=\"key\"><block type=\"text\" id=\"34\"><field name=\"TEXT\">gaz</field></block></value><value name=\"JSON\"><block type=\"visual_context\" id=\"35\"><field name=\"val\">global</field></block></value></block></value><next><block type=\"set_position_lcd\" id=\"36\" inline=\"true\"><value name=\"col\"><block type=\"math_number\" id=\"37\"><field name=\"NUM\">1</field></block></value><value name=\"row\"><block type=\"math_number\" id=\"38\"><field name=\"NUM\">4</field></block></value><next><block type=\"print_lcd\" id=\"39\" inline=\"true\"><value name=\"text\"><block type=\"text\" id=\"40\"><field name=\"TEXT\">Umiditate normala</field></block></value><next><block type=\"controls_if\" id=\"41\" inline=\"false\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"42\" inline=\"true\"><field name=\"OP\">GTE</field><value name=\"A\"><block type=\"json_key\" id=\"43\" inline=\"true\"><value name=\"key\"><block type=\"text\" id=\"44\"><field name=\"TEXT\">gaz</field></block></value><value name=\"JSON\"><block type=\"visual_context\" id=\"45\"><field name=\"val\">global</field></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"46\"><field name=\"NUM\">500</field></block></value></block></value><statement name=\"DO0\"><block type=\"clear_lcd\" id=\"47\"><next><block type=\"print_lcd\" id=\"48\" inline=\"true\"><value name=\"text\"><block type=\"text\" id=\"49\"><field name=\"TEXT\">   Atentie, pericol      incendiu</field></block></value></block></next></block></statement><next><block type=\"controls_if\" id=\"50\" inline=\"false\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"51\" inline=\"true\"><field name=\"OP\">LTE</field><value name=\"A\"><block type=\"json_key\" id=\"52\" inline=\"true\"><value name=\"key\"><block type=\"text\" id=\"53\"><field name=\"TEXT\">umiditate</field></block></value><value name=\"JSON\"><block type=\"visual_context\" id=\"54\"><field name=\"val\">global</field></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"55\"><field name=\"NUM\">250</field></block></value></block></value><statement name=\"DO0\"><block type=\"clear_lcd\" id=\"56\"><next><block type=\"print_lcd\" id=\"57\" inline=\"true\"><value name=\"text\"><block type=\"text\" id=\"58\"><field name=\"TEXT\">   Atentie, pericol      inundatie</field></block></value></block></next></block></statement><next><block type=\"controls_if\" id=\"59\" inline=\"false\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"60\" inline=\"true\"><field name=\"OP\">GTE</field><value name=\"A\"><block type=\"json_key\" id=\"61\" inline=\"true\"><value name=\"key\"><block type=\"text\" id=\"62\"><field name=\"TEXT\">temperatura</field></block></value><value name=\"JSON\"><block type=\"visual_context\" id=\"63\"><field name=\"val\">global</field></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"64\"><field name=\"NUM\">32</field></block></value></block></value><statement name=\"DO0\"><block type=\"clear_lcd\" id=\"65\"><next><block type=\"print_lcd\" id=\"66\" inline=\"true\"><value name=\"text\"><block type=\"text\" id=\"67\"><field name=\"TEXT\">Atentie, temperatura ridicata</field></block></value></block></next></block></statement><next><block type=\"controls_if\" id=\"68\" inline=\"false\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"69\" inline=\"true\"><field name=\"OP\">GTE</field><value name=\"A\"><block type=\"json_key\" id=\"70\" inline=\"true\"><value name=\"key\"><block type=\"text\" id=\"71\"><field name=\"TEXT\">presiune</field></block></value><value name=\"JSON\"><block type=\"visual_context\" id=\"72\"><field name=\"val\">global</field></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"73\"><field name=\"NUM\">500000</field></block></value></block></value><statement name=\"DO0\"><block type=\"clear_lcd\" id=\"74\"><next><block type=\"print_lcd\" id=\"75\" inline=\"true\"><value name=\"text\"><block type=\"text\" id=\"76\"><field name=\"TEXT\">Atentie,presiune ridicata</field></block></value></block></next></block></statement><next><block type=\"controls_if\" id=\"77\" inline=\"false\"><value name=\"IF0\"><block type=\"logic_operation\" id=\"78\" inline=\"true\"><field name=\"OP\">AND</field><value name=\"A\"><block type=\"logic_compare\" id=\"79\" inline=\"true\"><field name=\"OP\">LT</field><value name=\"A\"><block type=\"json_key\" id=\"80\" inline=\"true\"><value name=\"key\"><block type=\"text\" id=\"81\"><field name=\"TEXT\">accelerometru</field></block></value><value name=\"JSON\"><block type=\"visual_context\" id=\"82\"><field name=\"val\">global</field></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"83\"><field name=\"NUM\">370</field></block></value></block></value><value name=\"B\"><block type=\"logic_compare\" id=\"84\" inline=\"true\"><field name=\"OP\">GT</field><value name=\"A\"><block type=\"json_key\" id=\"85\" inline=\"true\"><value name=\"key\"><block type=\"text\" id=\"86\"><field name=\"TEXT\">accelerometru</field></block></value><value name=\"JSON\"><block type=\"visual_context\" id=\"87\"><field name=\"val\">global</field></block></value></block></value><value name=\"B\"><block type=\"math_number\" id=\"88\"><field name=\"NUM\">379</field></block></value></block></value></block></value><statement name=\"DO0\"><block type=\"clear_lcd\" id=\"89\"><next><block type=\"print_lcd\" id=\"90\" inline=\"true\"><value name=\"text\"><block type=\"text\" id=\"91\"><field name=\"TEXT\">    Cutremur</field></block></value><next><block type=\"delay\" id=\"92\" inline=\"true\"><field name=\"type\">0</field><value name=\"millis\"><block type=\"math_number\" id=\"93\"><field name=\"NUM\">1000</field></block></value></block></next></block></next></block></statement></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></next></block></xml>","outputs":1,"x":395,"y":210,"z":"4f31d9ef.b0ce45","wires":[[]]},{"id":"fc2f9fa.7dbb46","type":"receive","name":"","label":"temperatura_lcd","x":157,"y":290,"z":"4f31d9ef.b0ce45","wires":[["d45939b2.0b1738"]]},{"id":"a030b028.529668","type":"receive","name":"","label":"umiditate_lcd","x":173,"y":345,"z":"4f31d9ef.b0ce45","wires":[["9486388b.d8bf48"]]},{"id":"3ba6c363.3033a4","type":"receive","name":"","label":"gaz_lcd","x":177,"y":399,"z":"4f31d9ef.b0ce45","wires":[["50af945d.ccad64"]]},{"id":"d26f4141.ed61b8","type":"receive","name":"","label":"accelerometru_lcd","x":168,"y":438,"z":"4f31d9ef.b0ce45","wires":[["1942b9d4.adf606"]]},{"id":"34b00c78.cb235c","type":"receive","name":"","label":"presiune_lcd","x":189,"y":483,"z":"4f31d9ef.b0ce45","wires":[["293e0980.40684e"]]},{"id":"d45939b2.0b1738","type":"value","name":"","value":"temperatura","publish":true,"initial":"0","x":477,"y":273,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"9486388b.d8bf48","type":"value","name":"","value":"umiditate","publish":true,"initial":"0","x":507,"y":340,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"50af945d.ccad64","type":"value","name":"","value":"gaz","publish":true,"initial":"0","x":509,"y":391,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"1942b9d4.adf606","type":"value","name":"","value":"accelerometru","publish":true,"initial":"","x":512,"y":448,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"293e0980.40684e","type":"value","name":"","value":"presiune","publish":true,"initial":"0","x":493,"y":497,"z":"4f31d9ef.b0ce45","wires":[]}]