board/main.streams
[{"type":"tab","id":"4f31d9ef.b0ce45","label":"Sheet 1"},{"id":"8084fe30.7f7b","type":"run","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":107,"y":347.8571319580078,"z":"4f31d9ef.b0ce45","wires":[["e6fb16b1.1904e8","75367610.8ac988","afb14944.504eb8","dda0c1b3.225f4","fc567485.03a988","43904c68.bc6fb4","fc5827d2.03a7d8","e72ab930.18d548","bd68dd99.42972","88d40674.772bf8"]]},{"id":"75367610.8ac988","type":"analogread","name":"Analog read gaz","pin":"0","average":"10","readarray":"1","x":401.1428527832031,"y":113,"z":"4f31d9ef.b0ce45","wires":[["448ffbf3.bb7004","fe4f8868.01b078","e9e40b2b.161bf8","181c0a37.e7e3f6"]]},{"id":"448ffbf3.bb7004","type":"print","name":"","active":true,"field":"","complete":"false","x":582.8095703125,"y":175.71429252624512,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"afb14944.504eb8","type":"function","name":"","func":"var new_message;\n\nwyliodrin = require(\"wyliodrin\");\n\n\nif (!context.bmp180_device) \n{\n    context.bmp180_device = new wyliodrin.Adafruit_BMP085_Unified ();\n    context.bmp180_device.begin(); \n}\n\n context.global.temperatura=Math.round(context.bmp180_device.getTemperature());\n context.global.presiune=Math.round(context.bmp180_device.getPressure());\n\n console.log(context.global.temperatura);\nconsole.log(context.global.presiune);","outputs":1,"noerr":0,"x":443.85710525512695,"y":445.42858695983887,"z":"4f31d9ef.b0ce45","wires":[[]]},{"id":"f6eadb04.091528","type":"value","name":"","value":"temperatura","publish":true,"initial":"20","x":1141.5714302062988,"y":273.7142810821533,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"44e13df8.bb1ec4","type":"value","name":"","value":"presiune","publish":true,"initial":"","x":1133.0001602172852,"y":343.9999978542328,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"629c6644.9d6398","type":"analogread","name":"Analod read accelerometru","pin":"1","average":"10","readarray":"1","x":455.1428527832031,"y":299,"z":"4f31d9ef.b0ce45","wires":[["19fb54d9.e604ab"]]},{"id":"19fb54d9.e604ab","type":"sendsignal","name":"","signal":"acc","to":"dashboard","deviceid":"","x":824.1428527832031,"y":294,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"e6fb16b1.1904e8","type":"analogread","name":"Analog read umiditate","pin":"2","average":"10","readarray":"1","x":400.1428527832031,"y":391,"z":"4f31d9ef.b0ce45","wires":[["e8ff0e76.1700f","e3588c8a.1ca77","dbabe78b.245418","235e35d7.dca1ca"]]},{"id":"e8ff0e76.1700f","type":"switch","name":"","property":"payload","rules":[{"t":"gt","v":"300"},{"t":"lt","v":"299"}],"checkall":"true","outputs":2,"x":697.5715026855469,"y":503.64283180236816,"z":"4f31d9ef.b0ce45","wires":[["171d5b33.e8e2a5"],["1c902013.e36fe"]]},{"id":"171d5b33.e8e2a5","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"umiditate scazuta"}],"action":"","property":"","from":"","to":"","reg":false,"x":898.8570861816406,"y":483.5357446670532,"z":"4f31d9ef.b0ce45","wires":[["ac3c0b3d.53c3f8"]]},{"id":"1c902013.e36fe","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"umiditate ridicata"}],"action":"","property":"","from":"","to":"","reg":false,"x":917.7856826782227,"y":523.6070938110352,"z":"4f31d9ef.b0ce45","wires":[["71a3fe1d.8e5c"]]},{"id":"ac3c0b3d.53c3f8","type":"print","name":"","active":true,"field":"","complete":"false","x":1200.96435546875,"y":476.42856788635254,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"71a3fe1d.8e5c","type":"print","name":"","active":true,"field":"","complete":"false","x":1195.5000686645508,"y":538.0714054107666,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"956c903b.6a937","type":"send","name":"Send temperatura lcd","label":"temperatura_lcd","boardid":"mirescu.raducu_intel_lcd@wyliodrin.org","message":false,"x":912.8928909301758,"y":596.3571529388428,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"dbabe78b.245418","type":"send","name":"Send umiditate lcd","label":"umiditate_lcd","boardid":"mirescu.raducu_intel_lcd@wyliodrin.org","message":false,"x":792.6071853637695,"y":356.7857208251953,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"4e95795f.b16a88","type":"send","name":"Send accelerometru_lcd","label":"accelerometru_lcd","boardid":"mirescu.raducu_intel_lcd@wyliodrin.org","message":false,"x":795.6785583496094,"y":940.1785888671875,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"be75ba94.418a48","type":"send","name":"Send presiune lcd","label":"presiune_lcd","boardid":"mirescu.raducu_intel_lcd@wyliodrin.org","message":false,"x":916.9285583496094,"y":646.7857360839844,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"e9e40b2b.161bf8","type":"send","name":"Send gaz_lcd","label":"gaz_lcd","boardid":"mirescu.raducu_intel_lcd@wyliodrin.org","message":false,"x":980.8571472167969,"y":82.85714721679688,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"fe4f8868.01b078","type":"value","name":"","value":"gaz","publish":true,"initial":"0","x":565.1428527832031,"y":56,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"e3588c8a.1ca77","type":"value","name":"","value":"umiditate","publish":true,"initial":"0","x":681.107177734375,"y":427.14288330078125,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"5c6918c.fa396e8","type":"digitalwrite","name":"","pin":"2","x":626.2223854064941,"y":774.4603309631348,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"dda0c1b3.225f4","type":"change","name":"","rules":[{"t":"set","p":"payload","to":"1"}],"action":"","property":"","from":"","to":"","reg":false,"x":681.7141799926758,"y":655.2856712341309,"z":"4f31d9ef.b0ce45","wires":[[]]},{"id":"fc567485.03a988","type":"function","name":"semnal alert1","func":"if(context.global.temperatura>=32)\n    {\n        context.global.alert1=1;\n        return msg;\n    }\nelse \n    {\n        context.global.alert1=0;\n    }\nif(context.global.umiditate<299)\n    {\n        context.global.alert1=1;\n        return msg;\n    }\nelse \n    {\n        context.global.alert1=0;\n\n    }\nif(context.global.gaz>=500)\n{\n        context.global.alert1=1;\n        return msg;\n}\nelse \n    {\n        context.global.alert1=0;\n        return msg;\n    }\n","outputs":1,"noerr":0,"x":425.28567123413086,"y":657.4285726547241,"z":"4f31d9ef.b0ce45","wires":[[]]},{"id":"2dec07d1.d213f8","type":"value","name":"","value":"alert1","publish":true,"initial":"0","x":1124.1427536010742,"y":309.2857093811035,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"88d40674.772bf8","type":"function","name":"","func":"var ventilator=0;\n\nif(context.global.temperatura>=31 && context.global.gaz>=500)\n{ \n    ventilator=1;\n\n}\nelse \n{\n   ventilator=0;\n}\nmsg.payload=ventilator;\nreturn msg;","outputs":1,"noerr":0,"x":386.0794105529785,"y":854.6507511138916,"z":"4f31d9ef.b0ce45","wires":[["a1065aa6.5ef9a8"]]},{"id":"cfbae9fd.304518","type":"digitalwrite","name":"","pin":"1","x":598.6031532287598,"y":714.3493099212646,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"43904c68.bc6fb4","type":"function","name":"","func":"if(context.global.alert1===0)\n{    msg.payload=1;\n}\nelse \n    {\n        msg.payload=0;\n    }\nreturn msg;","outputs":1,"noerr":0,"x":398.666690826416,"y":724.8413391113281,"z":"4f31d9ef.b0ce45","wires":[["cfbae9fd.304518"]]},{"id":"a1065aa6.5ef9a8","type":"digitalwrite","name":"","pin":"7","x":653.714241027832,"y":844.0000457763672,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"e72ab930.18d548","type":"function","name":"","func":"\nreturn context.global.presiune;","outputs":1,"noerr":0,"x":461.14286041259766,"y":567.3213882446289,"z":"4f31d9ef.b0ce45","wires":[["be75ba94.418a48","5a9d0c6c.a562f4"]]},{"id":"fc5827d2.03a7d8","type":"function","name":"","func":"\nreturn context.global.temperatura;","outputs":1,"noerr":0,"x":444.96426010131836,"y":502.35715675354004,"z":"4f31d9ef.b0ce45","wires":[["956c903b.6a937","fe1aa5d3.01e558"]]},{"id":"bd68dd99.42972","type":"function","name":"","func":"if(context.global.alert1===1)\n{    msg.payload=1;\n}\nelse \n    {\n        msg.payload=0;\n    }\nreturn msg;","outputs":1,"noerr":0,"x":365.2857246398926,"y":780.8571872711182,"z":"4f31d9ef.b0ce45","wires":[["5c6918c.fa396e8"]]},{"id":"181c0a37.e7e3f6","type":"send","name":"send gaz_diana","label":"gaz_diana","boardid":"ion.diana28_new_server@wyliodrin.org","message":false,"x":1104.142993927002,"y":178.09525108337402,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"38249d90.c7db62","type":"send","name":"send acc_diana","label":"accelerometru_diana","boardid":"ion.diana28_new_server@wyliodrin.org","message":false,"x":943.4286270141602,"y":892.1428833007812,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"fe1aa5d3.01e558","type":"send","name":"send temperatura diana","label":"temperatura_diana","boardid":"ion.diana28_new_server@wyliodrin.org","message":false,"x":1232.7144317626953,"y":588.0952582359314,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"5a9d0c6c.a562f4","type":"send","name":"send presiune diana","label":"presiune_diana","boardid":"ion.diana28_new_server@wyliodrin.org","message":false,"x":1216.2857666015625,"y":664.523829460144,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"235e35d7.dca1ca","type":"send","name":"send umiditate diana","label":"umiditate_diana","boardid":"ion.diana28_new_server@wyliodrin.org","message":false,"x":961.2858352661133,"y":417.85712146759033,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"ff520c31.00adf","type":"run","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":153.42857360839844,"y":943.5713901519775,"z":"4f31d9ef.b0ce45","wires":[["2af6ae78.d50952"]]},{"id":"2af6ae78.d50952","type":"analogread","name":"","pin":"1","average":"10","readarray":"1","x":370.5714242117745,"y":956.4285714285713,"z":"4f31d9ef.b0ce45","wires":[["4e95795f.b16a88","fff21618.000de8","38249d90.c7db62"]]},{"id":"fff21618.000de8","type":"print","name":"","active":true,"field":"","complete":"false","x":680.5713958740234,"y":989.285722732544,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"58538fad.bcba3","type":"visual","name":"","func":"\nreturn msg;","xmlvisual":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><block type=\"variables_set\" id=\"1\" inline=\"true\" x=\"61\" y=\"43\"><field name=\"VAR\">new message</field><value name=\"VALUE\"><block type=\"visual_new_message\" id=\"2\"></block></value><next><block type=\"visual_msg_set\" id=\"27\" inline=\"true\"><value name=\"payload\"><block type=\"text\" id=\"28\"><field name=\"TEXT\">payload</field></block></value><value name=\"val\"><block type=\"text\" id=\"29\"><field name=\"TEXT\">value</field></block></value><next><block type=\"visual_ret\" id=\"3\" inline=\"true\"><value name=\"msg\"><block type=\"variables_get\" id=\"4\"><field name=\"VAR\">new message</field></block></value></block></next></block></next></block></xml>","outputs":1,"x":567.1428571428571,"y":1114.2857142857142,"z":"4f31d9ef.b0ce45","wires":[[]]}]